:root {
    --color-main: #222222;
    --color-off: #8b8b8b;
    --color-white: #ffffff;
    --color-off-white: #f7f7f7;
    --color-grey: #dedede;
    --padding-lr: 46px;
    --display-font: 'Caprasimo', cursive;
    --main-font: 'Inter', sans-serif;
}
body {
    margin: 0;
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: .0125rem;
    background-color: var(--color-off-white);
} 

* {
    box-sizing: border-box;
}

/* clear default padding and margin */
h1, h2, h3, p, ul, li {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

h1, h2, h3 {
    font-family: var(--display-font);
    letter-spacing: .05rem;
}

ul {
    list-style: none;
}

header {
    min-height: 167px;
    width: 100%;
    /* height: clamp(167px, 20vw, 500px); */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-main);
    background-image: url("/images/header-img_tiny.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    aspect-ratio: 16 / 5;
    color: var(--color-white);
    padding: 46px;
    position: relative;
}

.header_logo-wrapper {
    position: absolute;
    left: 50%;
    top: 1rem;
    inset: 1rem auto auto max(calc(50% - 300px), 46px);
    width: max(3vw, 25px);
}

.header_title-wrapper {
    max-width: 100%;
    width: 600px;
}

h1 {
    font-size: clamp(1.75rem, 5vw, 3rem);
    margin-bottom: 1rem;
    text-shadow: 1px 1px 3px #222222;
}

header p {
    color: var(--color-off-white);
    line-height: .86;
    font-size: clamp(1.375rem, 3vw, 1.6rem);
    text-shadow: 1px 1px 3px #222222;
}

.container {
    width: 600px;
    margin: -2rem auto 0px;
    box-shadow: 0 6px 12px 3px rgba(0,0,0,.125);
    position: relative;
    z-index: 1;
}

/* menu styles */
#menu {
    max-width: 100%;
    padding: 22px var(--padding-lr) 22px;
    background-color: var(--color-white);
    border-radius: 3px;
}

@media screen and (max-width: 600px) {
    #menu {
        margin-top: 0;
    }    
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d2d2d2;
    padding: 45px 0;
}

/* .menu-item:last-of-type {
    border-bottom: none;
} */

.menu-item_emoji {
    font-size: 4.875rem;
    margin-right: 32px;
}

.menu-item_details {
    margin-right: auto;
}

.menu-item_name {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    line-height: 1.05;
}

.menu-item_ingredients {
    display: flex;
    color: var(--color-off);
    margin-bottom: .5rem;
}

.menu-item_ingredients li {
    font-size: 1rem;
}

.menu-item_ingredients li::after {
    content: ',';
    margin-right: .125rem;
}

.menu-item_ingredients li:last-of-type::after {
    content: '';
    margin-right: 0;
}

.menu-item_price {
    font-family: var(--display-font);
    font-size: 1.4rem;
}

.menu-item_add-btn {
    background-color: transparent;
    border: 1.5px solid var(--color-grey);
    font-size: 32px;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    padding-bottom: 6px;
}

/* message box styles */
#success-box {
    max-width: 100%;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-block-end: 60px;
    color: #065F46;
    font-size: 2rem;
    line-height: 1.05;
    padding: 0 var(--padding-lr) 22px;
    background-color: var(--color-white);
}

.success-box {
    display: none;
}

.display-block { display: block; }

#success-box p {
    padding: 50px 20px;
    background-color: #ECFDF5;
}

/* order dialog box styles */
.order-dialog {
    position: sticky;
    bottom: 0%;
    left: 0%;
    right: 0%;
    inset: auto 0% 0% 0%;
    z-index: 10;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 0px;
    overflow: hidden;
    transition: height 200ms ease-in-out;
    box-shadow: 0 -2px 16px rgba(0,0,0,.05);
}

.order_inner {
    position: relative;
    text-align: center;
    max-width: 100%;
    width: 600px;
    padding: 56px var(--padding-lr);
}

.dialog-open {
    height: auto;
}

.order_divider-top {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    inset: 0% 0% auto 0%;
    height: 1px;
    width: calc(100% - var(--padding-lr));
    background-color: var(--color-grey);
    margin: 0 auto;
}

.order_heading {
    font-size: 1.5rem;
    line-height: 1.0125;
    margin-block-end: 62px;
}

.order-list { 
    border-block-end: 1px solid var(--color-main);
    padding-block-end: 30px;
}

.order-list li {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.order-item_name {
    font-family: var(--display-font);
    font-size: 1.4rem;
    margin-right: 8px;
    margin-inline-end: 8px;
}

.order-list li span {
    margin-right: auto;
    margin-inline-end: auto;
    color: #bbb;
    cursor: pointer;
}

.order-item_price {
    font-family: var(--display-font);
    font-size: 1.25rem;
    line-height: 1.25;
}

.order-total {
    display: flex;
    padding: 12px 0 40px;
    justify-content: space-between;
    align-items: baseline;
}

.order-total_heading {
    font-size: 1.5rem;
    line-height: 1.5;
}

.order-total p {
    font-family: var(--display-font);
    font-size: 1.25rem;
    line-height: 1.5;
}

.order_submit-btn, #checkout-btn {
    background-color: #16db99;
    border: none;
    width: 100%;
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: var(--main-font);
    padding: 18px 12px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    border-radius: 1.5px;
    cursor: pointer;
}

/* checkout dialog */
dialog {
    position: fixed;
    inset: 50% auto auto 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    max-width: calc(100%-4.75rem);
    width: calc(600px - 4.75rem);
    padding: 40px 20px 20px;
    font-family: var(--main-font);
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 40px 40px rgba(0,0,0,.125);
}

#close-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 16px;
    right: 8px;
}

dialog h2 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.9;
    margin-block-end: 42px;
}

dialog #checkout-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#checkout-form input {
    border-radius: 2px;
    border: 1px solid var(--color-off);
    padding: 16px 22px;
    margin-block-end: 1.45rem;
    font-size: 1.25rem;
    line-height: 1.9;
    color: var(--color-off);
}

#checkout-form input:invalid {
    border-color: red;
}

#checkout-form input:last-of-type {
    margin-block-end: 2.9rem;
}

#checkout-btn:disabled {
    background-color: var(--color-grey);
    color: var(--color-off);
    cursor: not-allowed;
}